*.fedor
codegentemp
CortexM0
*.log
*.rpt
Generated_Source
Export
ComponentUpdateLog.txt
*.su04759
/psoc_light/TFT240x320.cydsn/TFT240x320_timing.html
/psoc_light/psoc_light.cydsn/psoc_light_timing.html
